@media (max-width: 700px) {
  .text-box {
    h1 {
      font-size: 20px;
    }
  }
  .header {
    .nav-links {
      position: absolute;
      background: #f44336;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
      ul {
        padding: 30px;

        li {
          display: block;
        }
      }
    }
  }
  nav {
    .fa {
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
    }
  }

  .row {
    flex-direction: column;
    .course-col {
      flex-basis: 100%;
    }
  }
} ;
